html{
    width: 100%;
    height: 100%;
    background: black no-repeat center;
    background-size: cover;
    max-width: 100%;
}
.container{
    background-color: black;
    max-width: 100% !important;
    margin: 0;

}
.col img{
    width: 40%;
}
.col{
    text-align: center;
}
.click{
    font-size: 100px;
}
.click i{
    padding: 10px;
    color: blanchedalmond ;
}
